@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.not_supported {
    display: none;
}

.header {
    padding: 42px 100px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 1370px) {
    .header {
        padding: 42px 50px;
        display: flex;
        align-items: center;
    }
}


.goto_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_goto_profile_text {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    color: #000000;
    margin-left: 15px;
}

.header_menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-right: 52px;
}

.header_menu a {
    transition: .5s;
    color: black;
    outline: none;
}

.header_menu a:hover {
    transition: .5s;
    font-size: 34px;
}

.header_menu_box {
    display: flex;
    margin-left: 16%;
}

@media only screen and (max-width : 1370px) {
    .header_menu_box {
        display: flex;
        margin-left: 6%;
    }
}

.header .logo__title {
    display: flex;
    align-items: center;
    margin-left: 14%;
}

.logo__title {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12%;
}

@media only screen and (max-width : 1170px) {
    .logo__title {
        right: 4%;
    }
}

.active {
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    pointer-events: none;
}

.teamsearch_logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

@media only screen and (max-width : 1617px) {
    .teamsearch_logo {
        display: none
    }
}

.svg_arrow_down {
    transition: .5s;
    background-image: url("../images/main/arrow-down-black.png");
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.goto_profile:hover .svg_arrow_down {
    transition: .5s;
    transform: rotate(-90deg);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column__one {
    width: 90%;
    margin-left: 110px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width : 1370px) {
    .column__one {
        flex-direction: column;
    }
}

.column__one .section__one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section__one .row__one {
    display: flex;
    flex-direction: column;
    width: 530px;
}

.row__one .microrow__one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row__one .microrow__two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.microrow__one h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 64px;
    color: #000000;
}

.microrow__two p {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.avatar {
    width: 203px;
    height: 203px;
    background: #C4C4C4;
    border-radius: 100px;
    margin-right: 25px;
}

.column__one .section__two {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
}

@media only screen and (max-width : 1617px) {
    .column__one .section__two {
        margin-left: 10%;
    }
}

@media only screen and (max-width : 1370px) {
    .column__one .section__two {
        margin-left: 0;
        margin-top: 30px;
    }
}

.main-button {
    width: 246px;
    height: 66px;
    background: #4277DD;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-button-red {
    width: 246px;
    height: 66px;
    background: #DD4242;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column__two {
    width: 90%;
    margin-left: 110px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column__two .card {
    width: 304px;
    height: 363px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.column__two .card .section__one {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 29px;
}

.column__two .card .section__two {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.column__two .card .section__three {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.column__two .card .section__four{
    display: flex;
    flex-direction: column;
    margin: 23px 20px 23px 29px;
    overflow-y: auto;
    width: 258px;
    max-height: 128px;
}

.card .gamename {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #494949;
    margin-right: 10px;
}

.card-vip {
    border: 5px solid #67AC65!important;
}

.card .vip_text {
    color: #67AC65;
}

.card .nickname {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    color: #494949;
}

.card .stepinfo {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #8F8F8F;
    line-height: 29px;
}

.card .primeinfo {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.card p {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #494949;
}



/* сообщения */



.yourmessage {
    background: #7FA3EA;
    border-radius: 10px;
    padding: 15px 25px;
    float: right;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 670px;
}

.othermessage {
    background: #B7B7B7;
    border-radius: 10px;
    padding: 15px 25px;
    float: left;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 670px;
}

.message__section {
    width: 100%;
    margin-bottom: 15px;
}

.messages__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages__content .section {
    max-height: 668px;
    width: 100%;
    height: 635px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 11%;
    padding-bottom: 5px;
    border-bottom: 2px #8F8F8F solid;
}

@media only screen and (max-width : 1440px) {
    .messages__content .section {
        height: 485px;
    }
}

@media only screen and (max-width : 1024px) {
    .messages__content .section {
        height: 470px;
    }
}

.messages__content .section__two {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.section__two input {
    border: 1px solid #CECECE;
    box-sizing: border-box;
    width: 1326px;
    height: 66px;
    outline: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #7A7A7A;
    padding-left: 23px;
    margin-right: 21px;
}

.section__two input::-webkit-input-placeholder { color: #C1C1C1; }
.section__two input::-moz-placeholder { color: #C1C1C1; }

.section__two .row {
    display: flex;
    flex-direction: row;
}

.section__two p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
    margin-bottom: 15px;
    margin-top: 15px;
}

.section__two p a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #4277DD;
    outline: none;
}



/* пожертвования */



.donate__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 14.5%;
}

@media only screen and (max-width : 1680px) {
    .donate__content {
        padding-left: 9%;
    }
}

@media only screen and (max-width : 1440px) {
    .donate__content {
        padding-left: 4%;
    }
}

@media only screen and (max-width : 1024px) {
    .donate__content {
        padding-left: 0;
    }
}

.donate__content .ad {
    width: 752px;
    height: 98px;
    margin: 21px 16%;
    background: #C4C4C4;
}

.donate-card-good {
    width: 384px;
    min-height: 485px; 
    border: 1px solid #8F8F8F;
    margin-right: 49px;
    margin-top: 110px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-good {
        max-height: 485px; 
    }
}

.donate-card-good .row__one {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 21px;
}

.donate-card-good .row__one h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    color: #494949;
    margin-right: 7px;
}

.donate-card-good .row__one h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #67AC65;
}

.donate-card-good h3 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    text-align: center;
    margin-top: 2px;
}

.donate-card-good .row__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-left: 31px;
    padding-right: 19px;
}

.donate-card-good .row__two p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    color: #494949;
    margin-bottom: 19px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-good .row__two p {
        font-size: 17px;
    }
}

.donate-card-good .row__three {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}




.donate-card-better {
    width: 384px;
    min-height: 526px; 
    border: 3px solid #8F8F8F;
    margin-right: 49px;
    margin-top: 69px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-better {
        max-height: 526px; 
    }
}

.donate-card-better .row__one {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 21px;
}

.donate-card-better .row__one h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    color: #494949;
    margin-right: 7px;
}

.donate-card-better .row__one h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #67AC65;
}

.donate-card-better h3 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    text-align: center;
    margin-top: 2px;
}

.donate-card-better .row__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-left: 31px;
    padding-right: 19px;
}

.donate-card-better .row__two p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    color: #494949;
    margin-bottom: 19px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-better .row__two p {
        font-size: 17px;
    }
}

.donate-card-better .row__three {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}



.donate-card-best {
    width: 384px;
    min-height: 560px;
    border: 5px solid #67AC65;
    margin-top: 35px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-best {
        max-height: 560px;
    }
}

.donate-card-best .row__one {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 21px;
}

.donate-card-best .row__one h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    color: #494949;
    margin-right: 7px;
}

.donate-card-best .row__one h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    color: #67AC65;
}

.donate-card-best h3 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    text-align: center;
    margin-top: 2px;
}

.donate-card-best .row__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 55px;
    padding-left: 31px;
    padding-right: 19px;
}

.donate-card-best .row__two p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    color: #494949;
    margin-bottom: 19px;
}

@media only screen and (max-width : 1024px) {
    .donate-card-best .row__two p {
        font-size: 17px;
    }
}

.donate-card-best .row__three {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.balance__block {
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    border-radius: 10px;
    position: absolute;
    left: 70.3%;
    top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
}

.balance__block p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: #494949;
    margin-right: 5px;
}



/* Поиск */



.search-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
    padding-right: 225px;
}

.search-content .vip {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 64px;
    color: #67AC65;
    margin-bottom: 21px;
}

.vip__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 23px;
    padding-left: 110px;
}

@media only screen and (max-width: 1440px) {
    .vip__row {
        padding-left: 170px;
    }
}

@media only screen and (max-width: 1024px) {
    .vip__row {
        padding-left: 0px;
    }
}

.vip__row .card {
    width: 304px;
    height: 363px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .vip__row .card {
        width: 100%;
    }
}

.vip__row .card .section__one {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 29px;
}

.vip__row .card .section__two {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.vip__row .card .section__three {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.vip__row .card .section__four {
    display: flex;
    flex-direction: column;
    margin: 23px 20px 23px 29px;
    overflow-y: auto;
    width: 258px;
    max-height: 128px;
}

@media only screen and (max-width: 1024px) {
    .vip__row .card .section__four {
        width: 360px;
    }
}

.search-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
    text-align: center;
    margin-right: 5px;
}

.search-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #4277DD;
}

@media only screen and (max-width: 1024px) {
    .search-content h2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        color: #494949;
        text-align: center;
        margin: 0;
    }
    
    .search-content a {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        color: #4277DD;
    }
}

.search-content .ad {
    width: 752px;
    height: 98px;
    margin: 21px auto;
    margin-top: 21px;
    margin-bottom: 21px;
    background: #C4C4C4;
}

.search-content .default {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 64px;
    color: #494949;
    margin-bottom: 21px;
}

.default__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 23px;
    padding-left: 110px;
}

@media only screen and (max-width: 1440px) {
    .default__row {
        padding-left: 170px;
    }
}

@media only screen and (max-width: 1024px) {
    .default__row {
        padding-left: 0px;
    }
}

.default__row .card {
    width: 304px;
    height: 363px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .default__row .card {
        width: 100%;
    }
}

.default__row .card .section__one {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 29px;
}

.default__row .card .section__two {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.default__row .card .section__three {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-left: 29px;
}

.default__row .card .section__four {
    display: flex;
    flex-direction: column;
    margin: 23px 20px 23px 29px;
    overflow-y: auto;
    width: 258px;
    max-height: 128px;
}

@media only screen and (max-width: 1024px) {
    .default__row .card .section__four {
        width: 360px;
    }
}



/* Репорты */



.reports-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 300px;
    padding-right: 225px;
}

.reports-content .report {
    width: 362px;
    height: 138px;
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    border-radius: 20px;
    padding: 11px;
    margin-right: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reports-content .report h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    color: #494949;
    text-align: center;
}

.reports-content .report a {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    color: #4277DD;
    outline: none;
    margin: 0 3px;
}

.reports-content .report .take {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #37B34A;
    outline: none;
    cursor: pointer;
}

.reports-content .report .deny {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #DD3737;
    outline: none;
    cursor: pointer;
}

.reports-content .report .take-or-deny-box {
    width: 212px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}



/* настройки */




.content-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-settings .name-input {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 64px;
    color: #000;
    width: 250px;
    height: 75px;
    border: none;
    outline: none;
}

.content-settings .desc-textarea {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    width: 530px;
    height: 64px;
    outline: none;
    resize: none;
}

.content-settings .microrow__two {
    display: flex;
    flex-direction: row;
}





/* Всплывающие окна */



.conf-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: confpopup  0.2s 1 ease-in-out;
}
.conf-popup .conf-popup-content {
    width: 50%;
    height: 539px;
    padding: 63px 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-radius: 78px;
}

.conf-popup-content h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.conf-popup-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #494949;
}

.conf-popup-content label {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #494949;
    margin-left: 5px;
}

.conf-popup-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #4277DD;
    margin-left: 5px;
    outline: none;
}




.takereport-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: confpopup  0.2s 1 ease-in-out;
}
.takereport-popup .takereport-popup-content {
    width: 1050px;
    height: 342px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-radius: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.takereport-popup-content h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.takereport-popup-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #A3A3A3;
}
.takereport-popup-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: inherit;
    color: #4277DD;
    margin-left: 3px;
    outline: none;
}

.takereport-popup-content .banbox {
    max-width: 959px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.takereport-popup-content .banbox select {
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}

.takereport-popup-content .banbox input {
    width: 89px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}





.denyreport-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: confpopup  0.2s 1 ease-in-out;
}
.denyreport-popup .denyreport-popup-content {
    width: 1050px;
    height: 342px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-radius: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.denyreport-popup-content h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.denyreport-popup-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #A3A3A3;
}
.denyreport-popup-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: inherit;
    color: #4277DD;
    margin-left: 3px;
    outline: none;
}

.denyreport-popup-content input {
    width: 46%;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}





.createpost-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: confpopup  0.2s 1 ease-in-out;
}
.createpost-popup .createpost-popup-content {
    width: 1050px;
    height: 550px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 5px;
    border-radius: 78px;
    display: flex;
    flex-direction: column;
}

.createpost-popup-content h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.createpost-popup-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #A3A3A3;
}
.createpost-popup-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: inherit;
    color: #4277DD;
    margin-left: 3px;
    outline: none;
}

.createpost-popup-content .othergame {
    width: 20%;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}

.createpost-popup-content .input {
    width: 40%;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}

.createpost-popup-content select {
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}

.createpost-popup-content textarea {
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #7E7E7E;
    height: 218px;
    width: 100%;
    max-height: 218px;
}

.createpost-popup-content .checkbox {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.createpost-popup-content label {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
}



.report-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: confpopup  0.2s 1 ease-in-out;
}
.report-popup .report-popup-content {
    width: 1050px;
    height: 304px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border-radius: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-popup-content h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #494949;
}

.report-popup-content h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #A3A3A3;
}
.report-popup-content a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: inherit;
    color: #4277DD;
    margin-left: 3px;
    outline: none;
}

.report-popup-content input {
    width: 89px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    color: #7E7E7E;
}




/* Для телефонов */


@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .content {
        display: none;
    }

    .messages__content {
        display: none;
    }

    .donate__content {
        display: none;
    }

    .search-content {
        display: none;
    }

    .reports-content {
        display: none;
    }

    .not_supported {
        display: block;
        font-size: 13px;
    }
}