@media only screen and (max-width : 1080px) {
    html {
        overflow: hidden;
    }
    
    .header-signup .logo__signup {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-top: 40px;
    }
    
    .header-signup {
        margin: 0 100px;
        display: flex;
        align-items: center;
    }
    
    .content-signup {
        margin: 20px 100px;
        display: flex;
        align-items: center;
        height: 70vh;
        justify-content: space-around;
    }
    
    .content-signup h1 {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 68px;
        color: #000000;
        margin-bottom: 40px;
    }
    
    .content-signup p {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 40px;
    }
    
    .content-signup .section {
        width: 700px;
    }
    
    .content-signup button {
        background: linear-gradient(263.84deg, #6083FF 23.09%, rgba(96, 131, 255, 0.38) 106.78%);
        border-radius: 100px;
        width: 378px;
        height: 104px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        color: #FFFFFF;
        outline: none;
        border: none;
    }
    
    .content-signup .ad-reg {
        width: 487px;
        height: 148px;
        background: #C4C4C4;
        margin: 0;
    }
    
    .content-signup .registration-section input {
        width: 240px!important;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #CECECE;
        border-radius: 10px;
        color: #818181;
        font-size: 18px;
        font-family: Montserrat, Roboto;
        padding: 0 10px;
    }
    
    .content-signup .registration-section h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        margin-right: 5px;
    }
    
    .content-signup .registration-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-signup .section__two {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 35px;
    }
    
    .section__two .one {
        margin-left: 64px;
    }
    
    .section__two .two {
        margin-left: 78px;
    }
    
    .section__two .three {
        margin-left: 81px;
    }
    
    .four {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4px;
    }
    
    .five {
        display: flex;
        flex-direction: row;
    }
    
    .six {
        margin-bottom: 0!important;
    }
    
    .line {
        width: 88px;
        height: 1px;
        background: #000000;
        margin: 0 5px;
    }
    
    .line-text {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        
    }
    
    .or {
        width: 270px;
        display: flex;
        align-items: center;
        user-select: none;
        flex-direction: column;
        margin: 12px 0;
    }
    
    .registration-section .or_login-register {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 0;
        margin-top: -30px;
    }
    
    .or_login-register a {
        color: #4044AF;
        font-size: inherit;
        outline: none;
    }
    
    .section__two button {
        width: 348px;
        height: 86px;
        font-size: 26px;
    }
    
    .or .icons {
        margin-right: 5px;
    }
}





@media only screen and (max-width : 907px) {
    html {
        overflow: hidden;
    }
    
    .header-signup .logo__signup {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-top: 40px;
    }
    
    .header-signup {
        margin: 0 100px;
        display: flex;
        align-items: center;
    }
    
    .content-signup {
        margin: 20px 100px;
        display: flex;
        align-items: center;
        height: 70vh;
        justify-content: space-around;
    }
    
    .content-signup h1 {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 68px;
        color: #000000;
        margin-bottom: 40px;
    }
    
    .content-signup p {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 44px;
        color: #000000;
        margin-bottom: 40px;
    }
    
    .content-signup .section {
        width: 500px;
    }
    
    .content-signup button {
        background: linear-gradient(263.84deg, #6083FF 23.09%, rgba(96, 131, 255, 0.38) 106.78%);
        border-radius: 100px;
        width: 378px;
        height: 104px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 55px;
        color: #FFFFFF;
        outline: none;
        border: none;
    }
    
    .content-signup .ad-reg {
        width: 487px;
        height: 148px;
        background: #C4C4C4;
        margin: 0;
    }
    
    .content-signup .registration-section input {
        width: 240px!important;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #CECECE;
        border-radius: 10px;
        color: #818181;
        font-size: 18px;
        font-family: Montserrat, Roboto;
        padding: 0 10px;
    }
    
    .content-signup .registration-section h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        margin-right: 5px;
    }
    
    .content-signup .registration-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-signup .section__two {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 35px;
    }
    
    .section__two .one {
        margin-left: 64px;
    }
    
    .section__two .two {
        margin-left: 78px;
    }
    
    .section__two .three {
        margin-left: 81px;
    }
    
    .four {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4px;
    }
    
    .five {
        display: flex;
        flex-direction: row;
    }
    
    .six {
        margin-bottom: 0!important;
    }
    
    .line {
        width: 88px;
        height: 1px;
        background: #000000;
        margin: 0 5px;
    }
    
    .line-text {
        font-family: Montserrat, Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        
    }
    
    .or {
        width: 270px;
        display: flex;
        align-items: center;
        user-select: none;
        flex-direction: column;
        margin: 12px 0;
    }
    
    .registration-section .or_login-register {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 0;
        margin-top: -30px;
    }
    
    .or_login-register a {
        color: #4044AF;
        font-size: inherit;
        outline: none;
    }
    
    .section__two button {
        width: 348px;
        height: 86px;
        font-size: 26px;
    }
    
    .or .icons {
        margin-right: 5px;
    }
}


@media only screen and (max-width : 891px) {
    .header-signup {
        display: none;
    }

    .content-signup {
        display: none;
    }
    
    .not_supported {
        display: block;
        font-size: 13px;
    }
}