@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overflow: hidden;
}

.header {
    margin: 42px 100px;
    display: flex;
    align-items: center;
}

.goto_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_goto_profile_text {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    color: #000000;
    margin-left: 15px;
}

.header_menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-right: 52px;
}

.header_menu a {
    transition: .5s;
    color: black;
    outline: none;
}

.header_menu a:hover {
    transition: .5s;
    font-size: 34px;
}

.header_menu_box {
    display: flex;
    margin-left: 16%;
}

.header .logo__title {
    display: flex;
    align-items: center;
    margin-left: 14%;
}

.logo__title {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12%;
}

.active {
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    pointer-events: none;
}

.content {
    margin: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teamsearch_logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.teamsearch_logo_reg {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.content h1 {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 88px;
    color: #000000;
    margin-bottom: 40px;
}

.content p {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 40px;
}

.content .section {
    width: 700px;
}

.content button {
    background: linear-gradient(263.84deg, #6083FF 23.09%, rgba(96, 131, 255, 0.38) 106.78%);
    filter: drop-shadow(-1px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    width: 378px;
    height: 104px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.section .img_example {
    width: 760px;
    height: 546px;
    background-image: url("../images/main/blacktheme.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.section .ad {
    width: 584px;
    height: 88px;
    background: #C4C4C4;
    margin: 0 auto;
}

.section .ad-reg {
    width: 584px;
    height: 88px;
    background: #C4C4C4;
}

.svg_arrow_down {
    transition: .5s;
    background-image: url("../images/main/arrow-down-black.png");
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.goto_profile:hover .svg_arrow_down {
    transition: .5s;
    transform: rotate(-90deg);
}

/* Регистрация */

.header-signup .logo__signup {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 40px;
}

.header-signup {
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.content-signup {
    margin: 20px 100px;
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
}

.content-signup h1 {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 88px;
    color: #000000;
    margin-bottom: 40px;
}

.content-signup p {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 40px;
}

.logo-opacity {
    display: none;
}

.content-signup .section {
    width: 700px;
}

.content-signup button {
    background: linear-gradient(263.84deg, #6083FF 23.09%, rgba(96, 131, 255, 0.38) 106.78%);
    border-radius: 100px;
    width: 378px;
    height: 104px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 55px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.content-signup .ad {
    width: 674px;
    height: 148px;
    background: #C4C4C4;
    margin: 0;
}

.content-signup .registration-section input {
    width: 448px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 10px;
    color: #818181;
    font-size: 18px;
    font-family: Montserrat, Roboto;
    padding: 0 10px;
}

.content-signup .registration-section .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.content-signup .registration-section h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin-right: 5px;
}

.content-signup .registration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-signup .section__two {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.section__two .one {
    margin-left: 64px;
}

.section__two .two {
    margin-left: 78px;
}

.section__two .three {
    margin-left: 81px;
}

.four {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.five {
    display: flex;
    flex-direction: row;
}

.six {
    margin-bottom: 0!important;
}

.line {
    width: 88px;
    height: 1px;
    background: #000000;
    margin: 0 5px;
}

.line-text {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    
}

.or {
    width: 270px;
    display: flex;
    align-items: center;
    user-select: none;
    flex-direction: column;
    margin: 12px 0;
}

.registration-section .or_login-register {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 0;
    margin-top: -30px;
}

.or_login-register a {
    color: #4044AF;
    font-size: inherit;
    outline: none;
}

.section__two button {
    width: 348px;
    height: 86px;
    font-size: 26px;
}

.or .icons {
    margin-right: 5px;
}

@keyframes titleone {
    from {
        opacity: 0;
        position: relative;
        left: -750px;
    }

    to {
        position: relative;
        left: 0;
    }
}

@keyframes titletwo {
    from {
        opacity: 0;
        position: relative;
        right: -900px;
    }

    to {
        position: relative;
        right: 0;
    }
}

@keyframes header {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.not_supported {
    display: none;
    font-size: 13px;
}